@tailwind base;
@tailwind components;
@tailwind utilities;

.index-container {
  @apply container pb-32 space-y-8 max-w-4xl relative;
  padding-top: 70vw;
}

.title {
  font-family: metalista-web, serif;
  font-weight: 400;
  font-style: normal;
  @apply text-center text-black tracking-wide;
  font-size: clamp(4.5rem, 10vw, 7rem);
  line-height: clamp(4.5rem, 10vw, 7rem);
  text-shadow: -1px 0 #FF00B8, 0 1px #FF00B8, 1px 0 #FF00B8, 0 -1px #FF00B8;
  cursor: default;
}

.cool-profile-pic {
  @apply  fixed w-full top-0 left-0 transition-all duration-300;
}
.cool-profile-pic.blurred {
  @apply filter blur-2xl opacity-50;
}

@media screen(md) {
  .cool-profile-pic {
    @apply absolute top-32 w-48 left-1/2;
    transform: translateX(-50%);
  }
  .index-container {
    @apply pt-64;
  }
}
